/* src/components/Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #a331f5; /* Cor roxa */
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
  width: 100%; /* Ajuste o tamanho da imagem conforme necessário */
  max-width: 200px; /* Ajusta a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Espaço abaixo da imagem */
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}
